/*
 *Name: [Elisha Dockery]
 *UnityID: [edocker]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
/* Paragraph styling */
p {
    font-family: Times, serif;
    font-size: 16px;
    color: #DECAFF;
}

/* Table border styling */
.table-border {
    border: 1px solid #DECAFF;
    border-collapse: collapse;
}

.table-border th,
.table-border td {
    border: 1px solid #DECAFF;
    padding: 5px;
}

/* Image styling */
#photo-resize {
  #photo-resize {
    width: 250px;
    height: 300px;
    display: block;
    margin-bottom: 15px;
}

}
