/*
 *Name: [Elisha Dockery]
 *UnityID: [edocker]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
p {
    color: blue;
    font-size: 16px;
}

.class {
    background-color: yellow;
    border: 2px solid black;
}

#id {
    text-align: center;
    color: red;
}
